<h1>Edit Your Post</h1>

<form action= "<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Title: <input type="text" name="post[title]" value=" <%= @post.title %>">
  </label>
  <label>
    Description: <textarea name="post[content]" rows="8" cols="40">
      <%= @post.content%></textarea>
  </label>
  <label>
    Url:  <input type="text" name="post[url]" value=" <%= @post.url %> ">
  </label>

  <% Sub.all.each do |sub| %>

    <label>
      <input type="checkbox"
        name="post[sub_ids][]"
        value="<%= sub.id %>"
        <%= "checked" if @post.sub_ids.include?(sub.id) %>>
        <%= sub.title  %>
    </label>

    <% end %>

  <input type="submit" value="Submit">

</form>
